.dialog-datepicker {
  @include min-breakpoint(560px) {
    min-width: 500px;
  }
  .header-content {
    line-height: 1;
    padding: 6px 0 0 15px;
  }

  .popup-container {
    display: flex;
    justify-content: space-between;

    @include breakpoint(510px) {
      display: block;
    }
  }
  .modal-body {
    padding: 30px 30px 26px;
  }
  .datepicker-cus {
    @include breakpoint(510px) {
      text-align: center;
    }
  }
}

.modal-container {
  .btn-close-modal {
    outline: none;
    z-index: 10;
    &:focus {
      outline: none;
    }
  }
}
.modal-content {
  .btn-close-modal {
    line-height: 16px;
    &:focus {
      outline: none;
    }
  }
  .dailog-message-content {
    line-height: 1.8;
  }
}
.modal-custom-size {
  max-width: 710px;
  .modal-content {
    border: none;
  }
}

.modal-user-confirm {
  min-width: 360px;
  max-width: 520px;
}
