.pagination-cus-sm {
  .nav-icon {
    font-size: 10px;
  }
  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 30px;
    line-height: 1;
    min-width: 30px;
    padding: 4px;
    width: 30px;
  }
}
