.suggestion-content {
  width: 200px;
}
.suggestion-custom {
  font-size: 12px;
  .avatar {
    img {
      object-fit: contain;
    }
  }
  .suggestion-label {
    color: $color-black-defautl;
    display: block;
    font-size: 12px;
    font-family: $sf-display;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 23px;

    .tx-placeholder {
      color: $placeholder;
      font-family: $sf-display;
    }
  }
  .suggestion-icon {
    // color: $gray-500;
    // font-size: 6px;
    float: right;
    margin-top: 8px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $gray-500 transparent transparent transparent;
    line-height: 0px;

    &:hover {
      color: $gray-500;
    }
  }
  .suggestion-wrap {
    position: relative;

    .btn {
      background-color: #fff;
      border-color: $border-color-theme;
      padding: 3px 10px;
      text-align: left;
      width: 100%;
      white-space: nowrap;
      min-height: 34px;

      &:hover {
        border-color: $border-color-theme;
      }
    }
  }
  .suggestion-list {
    background-color: #fff;
    border: 1px solid #cdd5e6;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    position: absolute;
    z-index: 8;

    .suggestion-label {
      line-height: 1;
    }
  }
  .last-suggestion-list {
    bottom: 100%;
    margin-bottom: 5px;
  }
  .suggestion-image {
    float: left;
    margin-right: 10px;
    .avatar-initial {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .suggestion-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .suggestion-menu-container {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    position: static;
  }
  .suggestion-control-container {
    border-color: #cdd5e6;
    box-shadow: none;
    flex-direction: row-reverse;
  }
  .suggestion-control-container:hover {
    border-color: #cdd5e6;
    box-shadow: none;
  }
  .suggestion-indicator-container {
    color: #5a5a5a;
    padding: 0 0 3px 9px;
    font-size: 18px;
  }
  .suggestion-placeholder {
    color: #bccbe0;
    font-size: 12px;
    font-family: $sf-display;
  }
  .suggestion-input {
    color: #333;
    font-size: 13px;
  }
  .suggestion-menu-list-container {
    padding-top: 0;
    .suggestion-option {
      background-color: #fff;
      border-radius: 3px;
    }
    .suggestion-option:hover,
    .suggestion-focused-option {
      background-color: lighten(#e5e9f2, 5%);
    }
    .suggestion-selected-option,
    .suggestion-selected-option:hover {
      background-color: #e5e9f2;
    }
    & > div {
      @include flexbox();
      @include align-items(center);
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      .suggestion-label {
        color: $color-black-defautl;
        padding-top: 0;
      }
    }
  }
  &.select-cus-sm {
    .suggestion-label {
      line-height: 1;
    }
    .suggestion-wrap {
      .btn {
        border-color: $border-color-theme;
        height: 30px;
        min-height: 30px;
        padding: 5px 10px;
      }
    }
  }
  &.suggestion-control {
    .suggestion-label {
      line-height: 1.6;
    }
    .suggestion-image {
      height: 20px;
      min-width: 20px;
      width: 20px;
    }
    .suggestion-icon {
      margin-top: 0;
    }
    .suggestion-wrap {
      .btn {
        border-color: $border-color-theme;
        height: calc(1.5em + 0.9375rem);
        min-height: calc(1.5em + 0.9375rem);
        padding: 5px 10px;
      }
    }
  }
}

.selection-fix-idropdown {
  .suggestion-custom {
    .btn-light {
      position: relative;
    }
    .suggestion-icon {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}
