.header-form {
  padding-bottom: 5px;
  padding-top: 40px;
}

.intro-form {
  line-height: 1.5;
}

.list-note-form {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-control {
  &:read-only {
    color: $color-text-03;
    &:focus {
      border-color: #c0ccda;
      box-shadow: none;
    }
  }
}

.input-form-has-icon {
  position: relative;

  .btn-transparent,
  .btn-icon-pr {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 6px;
    &.btn-clear-input {
      padding: 2px 8px;
    }
  }

  .btn-transparent {
    color: $color-text-03;
  }

  .btn-icon-pr {
    @include vertical-align-absolute();
    right: 0;
    outline: none;
    &:hover {
      color: $link-color;
    }
  }
}

.radio-blue {
  .custom-control-label {
    color: $active-03;
    font-size: 12px;
    font-weight: $font-weight-medium;
  }
  &:last-child {
    .custom-control-label {
      color: $color-red;
    }
  }
}

.main-form {
  padding-top: 35px;

  .required {
    color: $required;
  }

  .label-control {
    color: $color-label;
    display: block;
    font-family: $sf-display;
    font-size: 10px;
    margin-bottom: 3px;
    line-height: 12px;
  }

  .value-control {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .form-control {
    border-color: $color-border-form;
    @include border-radius(4px);
    font-family: $sf-display;
    font-size: 12px;
    height: 34px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  .textarea-control {
    min-height: 100px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .error {
    color: $error-color;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 5px;
  }
  .label-group {
    .form-link {
      margin-bottom: 0.5rem;
    }
  }
  .buttons {
    text-align: center;
  }

  .textarea-content {
    .form-control {
      min-height: 105px;
    }
    &.is-minimized {
      .form-control {
        height: 65px !important;
      }
    }
  }
}

.form-normal-field {
  margin-bottom: 40px !important;
  .label-control {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #001737;
    line-height: 1.25;
  }
  .value-control {
    line-height: 1.2;
    font-size: 13px;
    color: $color-dark-02;
  }
}

.auth-form {
  padding-top: 35px;

  .label-control {
    color: $color-label;
    display: block;
    font-size: 0.875rem;
  }

  .value-control {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .error {
    color: $error-color;
    display: inline-block;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 5px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .label-group {
    .form-link {
      margin-bottom: 0.5rem;
    }
  }
  .buttons {
    text-align: center;
  }
}

.public-container {
  max-width: 100%;
  margin: 0 auto;

  &.login-container {
    width: 450px;
  }

  &.content-auth-alt {
    text-align: center;
  }
}
