// height
.mn-ht-55 {
  min-height: 55px;
}
.mn-ht-20 {
  min-height: 20px;
}
.mn-ht-30 {
  min-height: 30px;
}
.mn-ht-35 {
  min-height: 35px;
}
.mn-ht-250 {
  min-height: 250px;
}
.mn-ht-280 {
  min-height: 280px;
}

// width
.wd-22 {
  width: 22px;
}
.wd-27 {
  width: 27px;
}
.wd-30 {
  width: 30px;
}
.wd-120 {
  width: 120px;
}
.wd-140 {
  width: 140px;
}

.wd-162 {
  width: 162px;
}
.wd-190 {
  width: 190px;
}
.wd-194 {
  width: 194px;
}

.mn-wd-70 {
  min-width: 70px;
}
.mn-wd-85 {
  min-width: 85px;
}
.mn-wd-94 {
  min-width: 94px;
}
.mn-wd-124 {
  min-width: 124px;
}
.mn-wd-142 {
  min-width: 142px;
}
.mx-wd-320 {
  max-width: 320px;
}

.line-height-1 {
  line-height: 1;
}

// position
.r-23 {
  right: 23px;
}
.t-12 {
  top: 12px;
}

@include breakpoint(575px) {
  .t-mb-120-f {
    top: 120px !important;
  }
  .t-mb-170-f {
    top: 170px !important;
  }
  .t-mb-185-f {
    top: 185px !important;
  }
  .t-mb-215-f {
    top: 215px !important;
  }
  .t-mb-255-f {
    top: 255px !important;
  }
}

.mg-l-28 {
  margin-left: 28px;
}
.mg-l-33 {
  margin-left: 33px;
}
.mg-l-38 {
  margin-left: 38px;
}
.mg-l-40-n {
  margin-left: -40px;
}
.mg-r-9 {
  margin-left: 9px;
}
.mg-t-12 {
  margin-top: 12px;
}
.mg-t-14 {
  margin-top: 14px;
}
.mg-t-1 {
  margin-top: 1px;
}
.mg-t-3 {
  margin-top: 3px;
}
.mg-t-8 {
  margin-top: 8px;
}
.mg-t-2-n {
  margin-top: -2px;
}

.mg-t-24 {
  margin-top: 24px;
}
.mg-t-29 {
  margin-top: 29px;
}
.mg-b-18 {
  margin-bottom: 18px;
}
.pd-b-18 {
  padding-bottom: 18px;
}
.pd-l-54 {
  padding-left: 54px;
}
.pd-l-74 {
  padding-left: 74px;
}
.pd-t-3 {
  padding-top: 3px;
}
.pd-t-7 {
  padding-top: 7px;
}
.pd-t-8 {
  padding-top: 8px;
}
.pd-t-9 {
  padding-top: 9px;
}
.pd-t-12 {
  padding-top: 12px;
}
.pd-t-24 {
  padding-top: 24px;
}
.pd-t-115 {
  padding-top: 115px;
}

.pd-l-24 {
  padding-left: 24px;
}

.pd-x-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.pd-x-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.fix-z-index {
  z-index: -1;
}
// font-size icon
.icon-5 {
  font-size: 5px;
}

.icon-8 {
  font-size: 8px;
}

.icon-12 {
  font-size: 12px;
}

.icon-13 {
  font-size: 13px;
}

.icon-14 {
  font-size: 14px;
}

.icon-16 {
  font-size: 16px;
}

.icon-18 {
  font-size: 18px;
}

.icon-20 {
  font-size: 20px;
}

.icon-22 {
  font-size: 22px;
}

.icon-24 {
  font-size: 24px;
}

.icon-26 {
  font-size: 26px;
}

.icon-30 {
  font-size: 30px;
}

.icon-33 {
  font-size: 33px;
}

.icon-38 {
  font-size: 38px;
}

.icon-60 {
  font-size: 60px;
}
