// color
$active-01: #ffd600;
$active-02: #52c41a;
$active-03: #0168fa;
$color-border: #7cb2fe;
$color-boxshadown: rgba(1, 104, 250, 0.25);
$border-color-theme: #c0ccda;
$placeholder: #97a3b9;
$required: #f5222d;
$color-face: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #2977c9;
$color-github: #000;
$color-nav-link: #596882;
$color-title: #001737;
$color-border-gray-01: #e2e5ed;
$color-red-01: #da3849;

// v2

//fonts family
$sf-display: 'SFProDisplay-Regular';
$sf-display-medium: 'SFProDisplay-Medium';
$sf-display-semibold: 'SFProDisplay-Semibold';
$sf-text: 'SFProText-Regular';
$sf-text-medium: 'SFProText-Medium';
$sf-text-semibold: 'SFProText-Semibold';
$sf-san-serif: 'IBM Plex Sans', sans-serif;

// tabs
$color-border-tab: #c7daff;
$color-tab: #679bff;
$color-tab-active: #0168fa;

// color-form
$color-label: #97a3b9;
$color-main-title: #001737;
$bg-form: #fff;

$color-border-form: #c0ccda;
$color-border-1: #dcdcdc;
$color-border-2: #e9f1fc;
$color-border-3: #e2e2e2;

$color-zircon: #f3f7ff;
$color-zumthor: #e5eeff;
$color-cyan: #00cccc;
$color-pink: #f45a9f;
$color-active-01: #136df6;
$color-blue-light: rgba(1, 104, 250, 0.5);
$color-red: #da3849;
$color-logo: #00dbfd;
$color-blue-01: #5b48fb;
$color-cyan-01: #01cccc;
$color-cyan-02: #0f8b97;
$color-green-01: #0db859;

$color-black-defautl: #001737;
$color-gray-light-01: #eef0f7;
$color-gray-light-02: #f7fafe;
$color-gray-light-03: #edf3ff;
$color-gray-light-04: #c1ccda;
$color-gray-light-05: #f3f7ff;

$color-gray-01: #f5f6fa;
$color-gray-02: #c4c4c4;
$color-gray-03: #98a4b8;
$color-gray-04: #606d80;
$color-gray-05: #97a3b9;

$color-dark-01: #3c4043;

//  color icon
$color-pdf: #dc3545;
$color-word: #0168fa;
$color-img: #5b47fb;
$color-audio: #00b8d4;
$color-excel: #10b759;
$color-video: #f10075;
$color-powerpoint: #fd7e14;
$color-orange-01: #fb7e2a;
$color-orange-02: #ffbf96;
$color-yellow-01: #ffd600;

$skin-gradient-01: #451f59;
$skin-gradient-02: #471d5a;
$skin-gradient-03: #660066;
$skin-user: #660066;
$skin-candidate: #0f8b97;

$color-snoozed: #fb7e2a;
$color-snoozed-hover: #ffbf96;
$color-unsnoozed: #97a3b9;
$color-unsnoozed-hover: rgba(151, 163, 185, 0.5);
$color-archived: #fb7e2a;
$color-archived-hover: #ffbf96;
$color-unarchived: #97a3b9;
$color-unarchived-hover: rgba(151, 163, 185, 0.5);

$color-dark-01: rgba(27, 46, 75, 0.7);
$color-dark-02: #1b2e4b;
